.func-line__container
  display: flex
  flex-direction: column
  padding: 1rem
  border: 1px solid #999999
  background-color: #2E302F
  border-radius: 12px
  justify-content: space-between
  height: 7rem
  color: #fff


  div
    display: flex
    width: 100%
    height: 3rem
    flex-direction: row
    justify-content: space-between
    align-items: center

    .func-buttons__container
      width: 9.8rem

    input
      width: 100%
      padding: 10px
      font-size: 20px
      border-radius: 12px 0 0 12px