.todo-list
  border: 1px solid #999999
  border-radius: 12px
  margin-top: 2rem
  background-color: #2E302F
  color: #fff

  .todo
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 15px
    align-items: center

    input
      background-color: black

    .todo-content
      color: #fff
      margin: 0 2rem
      text-align: left
      background-color: transparent
      border: none
      width: 200%
      height: 3rem
      font-size: 20px